# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your database.
DATABASE_URL="postgresql://root:root@localhost:54321/app"

# Redis cache (for better Rate Limiting storage).
# If not provided during deployment, will default to in-memory cache, which in serverless environments basically will not rate limit.
CACHE_HOSTNAME=localhost
CACHE_PORT=63791

# You can generate a secret via 'pnpx uuid' on the command line. This should be at least 32 characters long.
SESSION_SECRET='please-generate-a-secret-and-put-it-here'

# Change this to your app name. This is used when the application needs to refer to itself,
# e.g. in emails or on the landing page.
NEXT_PUBLIC_APP_NAME='Starter Kit'

# Sets the debug level for logging. Can be one of: silent, error, warn, info, debug, trace
LOG_LEVEL="debug"