# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
**/test-results

# next.js
.next/
out/
next-env.d.ts

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# any env file
**/.env
**/.env.*

# Except for .env.example and .env.test
!.env.example
!.env.test

# vercel
.vercel

# typescript
dist/
.cache

# turbo
.turbo
packages/db/src/generated

*storybook.log
storybook-static
