services:
  postgres:
    image: postgres:latest
    ports:
      - 54321:5432
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
    volumes:
      - postgres-volume:/var/lib/postgresql

volumes:
  postgres-volume:
